<div class="header">
    <h1>Dashboard</h1>
    
</div>

<div class="sidebar-open" *ngIf="sidebarOpen">
    <div class="machineInfo">
        <label class="info">Letzte Wartung </label> <label class="value">{{machineInfo.lastService | date:'dd LLL yyyy, hh:mm'}} Uhr</label> <br>
        <label class="info">Erwarteter Ausfall </label> <label class="value">{{nextBreakdown | date:'dd LLL yyyy, hh:mm'}} Uhr</label><br>
        <label class="info">Gesamtlaufzeit </label> <label class="value">{{machineInfo.uptime}} Stunden</label><br>

        <div *ngFor="let data of sensor" class="sensor"> 
            <label class="info">{{data.name}} </label> <label class="value">{{data.lastValue}} {{data.unit}}</label><br> 
        </div>
    </div>
</div>
<div (click)="toggleBar()" class="sidebar-darken" *ngIf="sidebarOpen"></div>

<i (click)="toggleBar()" class="material-icons menu">menu</i>
<i (click)="openAdminView()" class="material-icons adminview">apps</i>
<router-outlet>