.notReady {
    text-align: center;
    align-items: center;
}

.mat-spinner {
    margin-left: 47%;
    margin-top: 150px;
}

.main {
    position: fixed;
    top: 120px;
    max-height: 85%;
    width: 100%;
    overflow: auto;
    margin-bottom: 30px;
}

.main.grid {
    // background-color: blue;
}

.main.gridBlured {

}

.main.Sidebar {
    background-color: green;
}

.main.adminView {
    background-color: pink;
}

.viewportGrid {
    width: 100%;
    height: 20vh;
}

.card {
    width: 90%;
    margin-left: 5%;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.34);
}

.gridList {
    margin-bottom: 130px;
}